*{
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
}

body{
    background-image: url(images/plane.png);
    background-size : auto;
    background-position: 20rem 30px;
    background-repeat: no-repeat;
    position: relative;
}

.wrapper{
    width: 1170px;
    margin-left: 10px;
}


.logo img{
    margin: 20px;
    float: left;
    width: 50px;
    height:auto;
}


.navbar{
    margin: 20px;
    float: right;

}

header .navbar li{
    list-style: none;
    display: inline-block;    
}


header .navbar ul li a{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;  
}

.navbar ul li a img{
    height: 20px;
    transform: rotate(270deg);
}

.ticket{
    margin-left: 76rem;
}

.ticket-box{
    box-shadow: 5px 5px #707070 ;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 10px;
    width: 260px;
    height: 280px;
}

.ticket-box ul li button{
    border: 1px solid #707070;
    border-radius: 10px;
    padding: 5px;
    background-color: #6D6628;
    color: white;
    font-weight: bold;

}

.ticket-box ul li{
    list-style: none;
    display: inline-block;
    padding-right: 5px;
}

.ticket-box table tr td img{
    width: 8rem;
    height: 60px;
}

.welcome-text{
    text-align: left;
   padding-left: 20px;
   color: #0A0D57;
   font-size: larger;
   position: relative;
   margin-top: -22rem;
   
}

.sample-text{
    padding-left: 20px;
    padding-top: 20px;
    color: #737E84;    
}

.try-button{
    padding-left: 20px;
    padding-top: 20px;
    
}

.try-button button{
    border-radius: 12px;
    padding: 5px;
    width: 10rem;
    background-color: #6D6628;
    color: #fff;
    font-size: large;
    border: 1px solid #707070 ; 
    box-shadow: 5px 5px #d1d5d7;   
}

.flight li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
}

.flight{
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 370px;
}

.heading{
    color:#0A0D57; 
    position: absolute; 
    margin-top: 70px;
    
}

.heading-subtext{
    padding-top: 120px;
    padding-bottom: 20px;
    color: #737E84;
}

.border1{
    border: 1px solid #CCC479;
    background-color: #CCC479;
    height: 50px;
    position: relative;
    margin-bottom: -250px;
}

.border2{
    position: relative;
    border: 1px solid #737E84;
    background-color: white;
    height: 30vh;
    margin-bottom: -20px;
    width: 90%;
    margin-left: 70px;
}

.border2 ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    
}

.border2 ul li a{
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 5px;
}

.border2 ul li .num1 img {
    height: 20px;
    transform: rotate(310deg);
    padding: 5px;
    margin-top: 7px;
    
}

 .border2 ul li .num1 img span{
    color: red;
} 

.border2 ul li .num2 img{
    height: 10px;
    transform: none;
    padding: 5px;

}

.border2 ul li .num3 img{
    height: 20px;
    transform: none;
    padding-top: 10px;
    padding: 5px;

}

.border3{
    border: 1px solid #CCC479;
    background-color: #CCC479;
    height: 50px;
    
}

.border3 li a{
    position: relative;
    padding-right: 10px;
    margin-top: -20px;
}

.border3 ul li .num4 img{
    position: absolute;
    height: 20px;
    margin-left: 140px;
    margin-top: 5px;
    padding: 5px;
}

.border3 ul li .num5 img{
    position: absolute;
    height: 20px;
    padding: 5px;
    /* margin-left: 140px; */
    /* margin-top: 5px; */
}

.search {
    position: relative;
    margin-left: 40px;   
}

.search  img{
    height: 30px;
    
}

.country{
    text-align: center;
    padding: 5px;
}

.last-list ul li .num6 img{
    /* position: absolute; */
    height: 20px;
    padding: 5px;
}

.last-list ul li .num7 img{
    /* position: absolute; */
    height: 20px;
}

.last-list ul li .num8 img{
    /* position: absolute; */
    height: 20px;
    padding: 5px;
}

.last-list ul li .num9 img{
    /* position: absolute; */
    height: 20px;
    padding: 5px;
}











